<!-- Validation failure messages -->
<% if @comment.present? %>
  <% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new comment
</h1>


<hr>

<!-- Form comment start -->
<form action="/create_comment" method="post">
<!-- Form comment end -->

  <!-- Label and input for item_id start -->
  <div class="form-group">
    <label for="item_id">
      Item
    </label>

    <!-- Input for item_id start -->
    <%= select_tag(:item_id, options_from_collection_for_select(Item.all, :id, :title, @comment.item_id), :class => "form-control") %>
    <!-- Input for item_id end -->
  </div>
  <!-- Label and input for item_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @comment.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>

<hr>

<a href="/comments">
  Go back
</a>
