<h1>
  Add a new status
</h1>


<hr>

<form action="/create_status" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create status
  </button>
</form>

<hr>

<a href="/statuses">
  Go back
</a>
