<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Transactions

    <a data-toggle="collapse" href="#item_transactions_new_form">
      Add transaction
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @item.transactions.each do |transaction| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/transactions/<%= transaction.id %>">
          <%= transaction.buyer_id %>
        </a>

        <a href="/delete_transaction_from_item/<%= transaction.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="item_transactions_new_form">
        <%= render partial: "item_templates/item_transactions_new_form" %>
      </div>
    </div>

  </ul>
</div>
