<h1>
  Edit item type #<%= @item_type.id %>
</h1>

<hr>

<form action="/update_item_type/<%= @item_type.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update item type
  </button>
</form>

<hr>

<a href="/item_types">
  Go back
</a>
