<% if @item_type.present? %>
  <% if @item_type.errors.any? %>
    <% @item_type.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new item type
</h1>


<hr>

<form action="/create_item_type" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create item type
  </button>
</form>

<hr>

<a href="/item_types">
  Go back
</a>
