<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Items

    <a data-toggle="collapse" href="#location_items_new_form">
      Add item
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @location.items.each do |item| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/items/<%= item.id %>">
          <%= item.title %>
        </a>

        <%if current_user == item.poster %>
          <a href="/delete_item_from_location/<%= item.id %>">
            Delete
          </a>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="location_items_new_form">
        <%= render partial: "location_templates/location_items_new_form" %>
      </div>
    </div>

  </ul>
</div>
