<h1>
  Add a new location
</h1>


<hr>

<form action="/create_location" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>

<hr>

<a href="/locations">
  Go back
</a>
